.svea-checkout-plugin .card {
    border-radius: 0.75rem; 
    border: 1px solid #add8e6; 
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.15), 
        inset 0 1px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
}

.svea-checkout-plugin .card-header {
    background-color: #87ceeb; 
    color: #ffffff; 
    font-weight: bolder; 
    font-size: 1.5rem; 
    border-bottom: 1px solid #b0e0e6; 
}

.svea-checkout-plugin .card-body {
    background-color: #e0f7fa; 
    color: #007bb5; 
    padding: 1.5rem; 
}

.svea-checkout-plugin .card-title {
    font-size: 1.5rem; 
    font-weight: bolder; 
    color: #007bb5; 
    margin-bottom: 1rem; 
}

.svea-checkout-plugin .card-text {
    font-size: 1.125rem; 
    color: #004d40; 
}

.svea-checkout-plugin .card-footer {
    background-color: #b3e5fc; 
    color: #004d40; 
    font-size: 1rem; 
    padding: 1rem; 
    border-top: 1px solid #add8e6; 
}
